---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About me</h1>
        <h2>And my new astro website</>
        <p>I'm learning how to make documentation using astro</>
        <p>Check in for more learning soon!</>
	</body>
</html>
